@using CommonModels.Enums
@using CommonModels.QuizModels
@using QuizaphFrontend.Components.MudblazorDialogComponents
@using QuizaphFrontend.Models.Quizes
@using QuizaphFrontend.Services
@inject IJSRuntime JS
@inject CurrentQuizStateService QuizState
@inject IDialogService DialogService
@inject BackendClient HttpService
@inject IAuthService AuthService
@inject NavigationManager navigation
@implements IDisposable

<MudPaper Square="true" Style="overflow:hidden; border-radius:20px;" Elevation="0" id="container">

    
    <MudButton OnClick="@TogglePanel"
               Variant="Variant.Filled"
               EndIcon="@toggleIcon"
               Color="Color.Primary"
               Style="position:absolute; top:15px; left:20px; z-index:1100;
                  padding:8px 12px; border-radius:8px; text-transform:none; max-width:250px;">
        View Countries
    </MudButton>

    @if (showPanel)
    {
        <MudExpansionPanels Style="position:absolute; top:60px; margin:20px; margin-right:70px;" Dense Elevation="0">
            @foreach (var continentGroup in CountryQuizData.Countries.GroupBy(a => a.Continent))
            {
                <MudExpansionPanel Text="@FormatContinentName(continentGroup.Key)" Icon="@Icons.Material.Filled.Public" Style="elevation:0;">
                    <MudStack Row="true" Spacing="0" Wrap="Wrap.Wrap">
                        @foreach (var country in continentGroup)
                        {
                            <MudText>
                                @(country.Guessed? country.CountryName: "•••••")
                            </MudText>
                        }
                    </MudStack>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    }

    <MudText Typo="Typo.body2" Class="score-badge">
        @GuessedAnswers / @TotalAnswers
    </MudText>

    @if (SelectedMode == QuizMode.Timed)
    {
        <MudStack Class="mode-panel" Row="true" AlignItems="AlignItems.Center" Spacing="1">
            <MudIconButton Icon="@((timerPaused ? Icons.Material.Filled.PlayArrow : Icons.Material.Filled.Pause))" Style="padding:0;" OnClick="TogglePause" />
            <MudText Typo="Typo.body2" Style="font-weight:bold;">
                @TimeSpan.FromSeconds(QuizTimer).ToString(@"mm\:ss")
            </MudText>
            <MudIcon Icon="@Icons.Material.Filled.HourglassEmpty" />
        </MudStack>
    }

    @if (SelectedMode == QuizMode.RandomWithLives)
    {
        <MudStack Class="mode-panel" Row="true" AlignItems="AlignItems.Center" Spacing="2">
            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">
                @foreach (var life in quizLives)
                {
                    <MudIcon Icon="@(life.IsLost? Icons.Material.Filled.FavoriteBorder : Icons.Material.Filled.Favorite)"
                             Color="@(life.IsLost ? Color.Default : Color.Error)" />
                }
            </MudStack>

            <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">
                @RandomModeCountryToGuess?.CountryName
            </MudText>
        </MudStack>
    }

    @if (SelectedMode == QuizMode.Practice)
    {
        <MudStack Class="mode-panel" Row="true" AlignItems="AlignItems.Center" Spacing="2">
            <MudText Typo="Typo.h6" Align="Align.Center" Color="Color.Primary">
                @PracticeModeHoveredCountry
            </MudText>
        </MudStack>
    }

    <div id="svg-zoom-container" style="width:100%; height:100%; overflow:hidden; touch-action:none;" @ref="_svgContainer">
        <object id="svg-map"
                type="image/svg+xml"
                data="SVGS/world_modified.svg"
                style="width:100%; height:100%; max-height:100%; cursor:move;">
        </object>
    </div>

    <!-- Zoom Buttons -->
    <div style="position:absolute; right:16px; top:50%; transform:translateY(-50%); display:flex; flex-direction:column; gap:8px;">
        <MudFab Size="Size.Small" Color="Color.Primary" OnClick="@SvgZoomIn" EndIcon="@Icons.Material.Filled.Add" />
        <MudFab Size="Size.Small" Color="Color.Primary" OnClick="@SvgZoomOut" EndIcon="@Icons.Material.Filled.Remove" />
    </div>

    @if (SelectedMode != QuizMode.RandomWithLives)
    {
        <MudTextField T="string"
                      @bind-Value="searchText"
                      Immediate="true"
                      Placeholder="Enter country"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      AdornmentColor="Color.Default"
                      Style="position:absolute; bottom:20px; left:50%; transform:translateX(-50%); width:300px; height:40px;"
                      OnKeyUp="@OnSearchKeyUp"
                      @ref="_searchField" />
    }

    <MudFab StartIcon="@(fullScreen? Icons.Material.Filled.FullscreenExit : Icons.Material.Filled.Fullscreen)"
            Color="Color.Primary"
            Style="position:absolute; bottom:16px; right:16px;"
            Size="Size.Small"
            OnClick="@ToggleFullScreen" />
</MudPaper>

<style>

    .score-badge {
        position: absolute;
        top: 15px;
        right: 20px;
        padding: 8px 12px;
        border-radius: 12px;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Roboto Condensed';
        background-color: var(--mud-palette-surface);
    }

    .mode-panel {
        position: absolute;
        margin-top: 15px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 10px;
        background-color: var(--mud-palette-surface);
    }
</style>


@code {
    [CascadingParameter] private Quiz QuizInfo { get; set; } = default!;
    private QuizMode SelectedMode { get; set; } = QuizMode.Standard;
    private bool showPanel = false;
    private string toggleIcon => showPanel ? Icons.Material.Filled.ExpandLess : Icons.Material.Filled.ExpandMore;
    private int GuessedAnswers = 0;
    private int TotalAnswers;
    private CountryQuizData CountryQuizData { get; set; } = new CountryQuizData();
    private bool fullScreen = false;
    private ElementReference _svgContainer;
    private DotNetObjectReference<CountriesOfTheWorldComponent>? objRef;
    private MudTextField<string> _searchField;
    private string searchText = string.Empty;
    private bool fullScreenMode = false;
    private string PracticeModeHoveredCountry = "Hover over a country to show name";
    private Continent selectedContinent;

    // Timer mode specific
    private bool timerPaused = false;
    private CancellationTokenSource? _timerCts;
    private int QuizTimer = 900; // 15 minutes

    // Random mode specific
    private Country? RandomModeCountryToGuess;
    private Random random = new Random();
    private List<QuizLife> quizLives = new List<QuizLife>()
    {
        new QuizLife(), new QuizLife(), new QuizLife(), new QuizLife(), new QuizLife()
    };

    protected override void OnInitialized()
    {
        QuizState.OnResetRequested += Reset;
        QuizState.OnEndQuiz += EndQuiz;
        QuizState.OnCurrentModeChanged += OnModeChanged;
        RetrieveQuizData();
        TotalAnswers = CountryQuizData.Countries.Count();
    }


    private async void OnContinentChanged(Continent continent)
    {
        selectedContinent = continent;
        await FilterByContinent();

    }   

    private async Task FilterByContinent()
    {
        CountryQuizData.Countries.Where(c => c.Continent == selectedContinent).ToList();
        await JS.InvokeVoidAsync("continentChanged", CountryQuizData);
        TotalAnswers = CountryQuizData.Countries.Count();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(100);
            objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("svgInterop.init", "svg-map", objRef);
        }
    }
    private void RetrieveQuizData()
    {
        CountryQuizData = StaticQuizDataRetrievalService.GetCountryQuizData();
    }
    #region Mode Specific Methods

    [JSInvokable]
    public void OnCountryHovered(string countryId)
    {
        var country = CountryQuizData.Countries.FirstOrDefault(a => a.Id == countryId);
        if (country != null && !string.IsNullOrEmpty(country.CountryName))
            PracticeModeHoveredCountry = country.CountryName;
        else
            PracticeModeHoveredCountry = string.Empty;
        StateHasChanged();
    }

    [JSInvokable]
    public void OnCountryHoverLeave()
    {
        PracticeModeHoveredCountry = string.Empty;
        StateHasChanged();
    }

    [JSInvokable]
    public void OnCountryClicked(string countryId)
    {
        SelectCountryAsAnswer(countryId);
    }

    private async void SelectCountryAsAnswer(string countryId)
    {
        if (SelectedMode != QuizMode.RandomWithLives)
            return;

        // Correct guess
        if (RandomModeCountryToGuess != null &&
            countryId.Equals(RandomModeCountryToGuess.Id, StringComparison.OrdinalIgnoreCase))
        {
            RandomModeCountryToGuess.Guessed = true;
            await JS.InvokeVoidAsync("highlightSvgElementById", RandomModeCountryToGuess.Id);
            GuessedAnswers++;
            RandomModeNextCountry();
            await InvokeAsync(StateHasChanged);
        }
        // Wrong guess
        else
        {
            var wrongCountry = CountryQuizData.Countries
                .FirstOrDefault(c => c.Id.Equals(countryId, StringComparison.OrdinalIgnoreCase));

            if (wrongCountry != null)
            {
                await JS.InvokeVoidAsync("highlightSvgElementById", wrongCountry.Id, "#f87171", "#dc2626", true);
            }

            if (RandomModeCountryToGuess != null)
            {
                RandomModeCountryToGuess.Guessed = true;
                await JS.InvokeVoidAsync("highlightSvgElementById", RandomModeCountryToGuess.Id, "#fbbf24", "#d97706"); // orange
            }

            LoseLife(wrongCountry?.CountryName ?? countryId);
            RandomModeNextCountry();
            await InvokeAsync(StateHasChanged);
        }
    }
    private async void StartTimer()
    {
        _timerCts = new CancellationTokenSource();
        var token = _timerCts.Token;
        var timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        try
        {
            while (await timer.WaitForNextTickAsync(token))
            {
                if (!timerPaused && QuizTimer > 0)
                {
                    QuizTimer--;
                    await InvokeAsync(StateHasChanged);

                    if (QuizTimer == 0)
                    {
                        timerPaused = true;
                        await EndQuiz();
                    }
                }
            }
        }
        catch (OperationCanceledException)
        {
        }
    }


    private void TogglePause()
    {
        timerPaused = !timerPaused;
    }
    private void LoseLife(string countryName)
    {
        var life = quizLives.FirstOrDefault(l => !l.IsLost);
        if (life != null)
        {
            life.IsLost = true;
            StateHasChanged();
        }
        if (quizLives.All(l => l.IsLost))
        {
            // All lives lost, end the quiz
            _ = EndQuiz();
        }
    }
    #endregion 
    #region UI Interaction Methods and standard mode methods

    public void Dispose()
    {
        QuizState.OnResetRequested -= Reset;
        QuizState.OnEndQuiz -= EndQuiz;
        QuizState.OnCurrentModeChanged -= OnModeChanged;
        _timerCts?.Cancel();
    }

    public async Task Reset()
    {
        GuessedAnswers = 0;
        CountryQuizData.ResetQuiz();
        QuizTimer = 900;
        quizLives.ForEach(a =>
        {
            a.IsLost = false;
            a.NameOfError = string.Empty;
        });
        // Get fresh data
        CountryQuizData = StaticQuizDataRetrievalService.GetCountryQuizData();
        RandomModeNextCountry();
        if (selectedContinent != Continent.None)
        {
            await FilterByContinent();
        };
        await JS.InvokeVoidAsync("resetSvg");
    }

    public async Task OnModeChanged(QuizMode mode)
    {
        SelectedMode = mode;

        if (SelectedMode == QuizMode.Timed)
            StartTimer();

        if (SelectedMode == QuizMode.RandomWithLives)
            RandomModeNextCountry();

        if (SelectedMode == QuizMode.Practice)
            await JS.InvokeVoidAsync("svgInterop.enablePracticeHover");
        else
            await JS.InvokeVoidAsync("svgInterop.disablePracticeHover");

        await Reset();
    }
    public async void RandomModeNextCountry()
    {
        var unguessed = CountryQuizData.Countries
            .Where(c => !c.Guessed)
            .ToList();

        if (unguessed.Count == 0)
        {
            Console.WriteLine("Random mode finished!");
            await EndQuiz();
            return;
        }

        RandomModeCountryToGuess = unguessed[random.Next(unguessed.Count)];
        Console.WriteLine($"Next country to guess: {RandomModeCountryToGuess.CountryName} ({RandomModeCountryToGuess.Id})");
    }

    private async Task EndQuiz()
    {
        if (fullScreenMode)
        {
            await ToggleFullScreen();
        }
        var result = new QuizResult
        {
            QuizType = QuizInfo.QuizType,
            QuizMode = SelectedMode,
            Score = GuessedAnswers,
            MaxScore = TotalAnswers,
        };

        var bestResult = await HttpService.GetBestUserQuizResult(QuizInfo.QuizType, SelectedMode);
        bool newBest = false;
        if (bestResult != null)
        {
            newBest = (bestResult.Score > GuessedAnswers);
        } 
        // Call backend to store result
        HttpService.CreateQuizResult(result);
       

        var parameters = new DialogParameters
        {
            { nameof(EndScreenDialog.QuizResult), result },
            { nameof(EndScreenDialog.IsNewPersonalBest), newBest }
        };

        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, CloseButton = true };
        var dialog = await DialogService.ShowAsync<EndScreenDialog>("", parameters, options);
        var dialogResult = await dialog.Result;

        // Retry or route to quiz menu based of result.
        if (dialogResult != null)
        {
            if (dialogResult.Data?.ToString() == "retry" || dialogResult.Canceled)
            {
                await Reset();
            }
            else if (dialogResult.Data?.ToString() == "menu")
            {
                navigation.NavigateTo("Quizzes");
            }
        }
    }
    private void TogglePanel()
    {
        showPanel = !showPanel;
    }

    private async Task SvgZoomIn()
    {
        await JS.InvokeVoidAsync("svgInterop.zoomIn", "svg-map");
    }

    private async Task SvgZoomOut()
    {
        await JS.InvokeVoidAsync("svgInterop.zoomOut", "svg-map");
    }

    private async Task ToggleFullScreen()
    {
        fullScreenMode = !fullScreenMode;
        fullScreen = !fullScreen;
        await JS.InvokeVoidAsync("toggleFullScreen", "container");
    }

    private string FormatContinentName(Continent continent)
    {
        return continent switch
        {
            Continent.NorthAmerica => "North America",
            Continent.SouthAmerica => "South America",
            _ => continent.ToString()
        };
    }

    private string GetCountryStyle(Country country)
    {
        var bgColor = country.Guessed ? "#81ef73" : "#f1f1f1";
        return $"white-space: nowrap; background-color: {bgColor}; padding: 4px 8px; border-radius: 4px; margin: 4px; margin-bottom: 12px;";
    }

    private async Task OnSearchKeyUp(KeyboardEventArgs args)
    {
        if (timerPaused) return;
        if (string.IsNullOrWhiteSpace(searchText)) return;

        var match = CountryQuizData.Countries
            .Where(c => !c.Guessed)
            .FirstOrDefault(c => c.ValidNames
                .Any(name => string.Equals(name, searchText, StringComparison.OrdinalIgnoreCase)));

        if (match != null)
        {
            match.Guessed = true;
            GuessedAnswers++;

            await JS.InvokeVoidAsync("highlightSvgElementById", match.Id);

            searchText = "";
            if (_searchField != null)
            {
                await _searchField.BlurAsync();
                await _searchField.SetText("");
                await _searchField.FocusAsync();
            }

            StateHasChanged();

            if (GuessedAnswers == TotalAnswers)
            {
                await EndQuiz();
            }
        }
    }
    private void SelectContinent(List<Country> countries)
    {
        await JS.InvokeVoidAsync("selectContinent", countries);
    }
    #endregion
}
